services:
  web:
    container_name: apache2
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "84:80"
      - "443:443"
    env_file:
      - passwords

  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - db_data:/var/lib/mysql

  admin:
    image: phpmyadmin
    ports:
      - "8001:80"
    environment:
      - PMA_HOST=db

volumes:
  db_data: